body{
    background-color: #a0c3c9;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 100 100'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%2363837f' fill-opacity='0.18'%3E%3Cpath opacity='.5' d='M96 95h4v1h-4v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4h-9v4h-1v-4H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15v-9H0v-1h15V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h9V0h1v15h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9h4v1h-4v9zm-1 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm9-10v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-10 0v-9h-9v9h9zm-9-10h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9zm10 0h9v-9h-9v9z'/%3E%3Cpath d='M6 5V0H5v5H0v1h5v94h1V6h94V5H6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: 'Montserrat', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1{
    font-size: 3rem;
}
.timer{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 10px;
    align-items: center;
}

/* .timer::before, .timer::after{
    align-items: center;
    display: flex;
    height: 20px;
    width: 20px;
    font-size: 0.5rem;
    font-weight: 700;
    background-color: cornsilk;
    border-radius: 50%;
    box-shadow: inset silver 2px 2px 2px, black 2px 2px 2px;
    padding: 10px;
}

.timer::before{
    content: "-1min";
    margin-right: 10px;
}
.timer::after{
    content: "+1min";
    margin-left: 10px;
} */

.container-button{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.btn, .btn-timer{
    width: 80px;
    height: 30px;
    font-family: inherit;
    background-color: skyblue;
    box-shadow: inset rgb(151, 211, 235) 2px 2px 2px, black 2px 2px 2px;
    border: none;
    border-radius: 20px;
    margin: 0 20px;
    cursor: pointer;
}

.btn:hover{
    font-weight: 700;
    font-size: 1rem;
}
.btn:active, .btn-timer:active{
    box-shadow: inset black 2px 2px 2px;
}

.btn-timer {
    width: 30px;
    height: 30px;
    font-size: 1.5rem;
}
.input-container{
    display: none;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(5, 5, 5, 0.2);
    border-radius: 15px;
}
.input-container input{
    height: 1.8rem;
    width: 11rem;
    text-align: center;
    margin-top: 5px;
    display: inline-block;
    font-size: 1.8rem;
}

.input-container .btn{
    width: 50px;
    height: 25px;
    margin: 10px auto;

}

.progress-bar{
    width: 400px;
    height: 50px;
    background-color: grey;
    border-radius: 25px;
    border: black solid 5px;
    display: flex;
    justify-content: start;
    margin: auto;
}

.percent{
    position: absolute;
    width: 30px;
    margin: 16px 185px;
}

.progress{
    width: 50%;
    background-color: greenyellow;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}
